.clan {
  display: flex;
  flex-direction: row;
  margin: 2% 2% 0 2%;
}

.clanInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: solid;
  height: 440px;
  width: 353px;
}

.clanInfo h1 {
  margin: 5px;
}

#bio {
  margin: 0 auto;
  width: 350px;
  height: 75px;
}

.members {
  border: solid;
  margin-top: 2%;
  height: 180px;
  width: 353px;
  overflow: auto;
}

.member {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}
::-webkit-scrollbar {
  width: 10px;
}

#mem {
  max-width: 50px;
  margin: 3%;
  overflow: auto;
}

.member p {
  font-size: 12px;
  margin: 0;
}

#memImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.members h2 {
  margin: 0;
}

.logo {
  margin: 10px auto;
  width: 300px;
  height: 200px;
}

.feed {
  border: solid;
  margin-left: 2.5%;
  height: 630px;
  width: 915px;
}
